<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @level.title %>
</p>

<div id='display'></div>
    <br>
    <textarea style="resize:none" id ='input' rows='5' cols='50'></textarea>
    <br>
    <div id='clock'>0</div>
    <div id='console'></div>
    <div id="bar" style="z-index: 1; left: 5px; top: 50px; width: 0px; height: 15px; background-color:#00FF00; visibility: visible"> 
    <script>
    var running = false;
    var timer;
    var sec = 0;
    var caption = '<%= @level.content %>'
    var console = document.getElementById('console');
    var display = document.getElementById('display');
    var input = document.getElementById('input');
    var clock = document.getElementById('clock');
    var bar = document.getElementById('bar');
    input.value='';
    input.onkeyup = function(e) {
      if(running == false) {
        running = true;
        timer = setInterval(function(){
          clock.innerHTML=(input.value.split(' ').length * (60/++sec)).toFixed(1) + ' wpm';
        }, 1000);
      }
      var tReg = new RegExp('^'+input.value+'+');
      if(tReg.test(caption)) {
        input.style.color = 'green';    
        console.innerHTML = Math.round((input.value.length / caption.length)*100) + '% complete';
        bar.setAttribute("style","width:50px");
      }
      else
        input.style.color = 'red';
      if (input.value == caption) {
        window.clearInterval(timer);
        clock.innerHTML = (caption.split(' ').length * (60/sec)).toFixed(1) + ' wpm';
      }   
    }
    display.innerHTML='<b>'+caption;      
    </script>
  
<%= link_to 'Back', levels_path %>
