<div class='container'>
<h1>Listing scores</h1>

<table border="1">
  <thead>
    <tr>
      <th>Score</th>      
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.score %> wpm</td>        
        <td><%= score.level.title %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<%= link_to 'Back', levels_path %>
<br>
</div>